* {
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    color: white
}

.Header{

    position: absolute;
    z-index: 1000;
    width: 90%;
    display: flex;
    justify-content: space-between;
    top: 28px;
    left: 56px;
}

.Header a{

    display: inline-block;
    background-color: #e50913;
    color: white;
    align-self: flex-start;
    padding: 8px 10px;
    text-decoration: none;
    border-radius: 3px;
}

.Main{

    height: 620px;
    background: url(../images/netflix-background-image.jpg) center;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;

}

.Main h1{

    font-size: 64px;
    max-width: 516px;
    text-align: center;
} 

.Main-Child{
    z-index: 1;
    display: grid;
    justify-items: center;
}

.Main-Child span{
    font-size: 26px;
}

.Form{

    display: grid;
    grid-template-columns: 457.1px 250px;
    margin-top: 30px;
    margin-bottom: 10px;

}

.Form input{

    padding: 20px 10px;
    font-size: 16px;
    font-family: sans-serif;

}

.Form button{
    
    background-color: #e40814;
    outline: none;
    border: none;
    color: white;
    font-size: 30px;
    text-transform: uppercase;

}

.Main-Child p {
    font-size: 16px;
}


.Gradient {

    background-color: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

}
